



.album-caption {
    background-color     : white;
    color                : black;
    display              : block;
    font-size            : large;
    height               : auto;
    margin-top           : 5px;
    text-align           : center;
    width                : auto;
}

.album-frame {
    /* order of these border props matters! border needs to be first */
    border-right         : 20px solid transparent;
    border-bottom        : 20px solid transparent;
    border-left          : 10px solid transparent;
    border-top           : 10px solid transparent;
    border-image         : url(/img/polaroidstack.png) 30% round;
    -o-border-image      : url(/img/polaroidstack.png) 30% round;
    -webkit-border-image : url(/img/polaroidstack.png) 30% round;
    display              : inline-block;
    font-size            : 0;
    margin               : 40px;
}

.album-image {
    border               : 1px solid gray;
    display              : inline-block;
    position             : relative;
}

.album-shadow {
    box-shadow           : 15px 15px 8px 20px rgba(0,0,0,0.2);
    display              : inline-block;
    background-color     : black;
}

.burger {
    float: right;
    margin-top: 10px;
    cursor: pointer;
}


.xgrad0 {
    background: #aaaaaa; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #cccccc , #eeeeee); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #cccccc , #eeeeee); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #cccccc , #eeeeee); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #cccccc , #eeeeee); /* Standard syntax */
    background: linear-gradient(to right, #64a7de , #4180b6); /* Standard syntax */
}
.xxxgrad0 {
    background: #64a7de; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#64a7de , #4180b6); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#64a7de , #4180b6); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#64a7de , #4180b6); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#64a7de , #4180b6); /* Standard syntax */
}
.grad0 {
    background: #64a7de; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#64a7de , #4180b6); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#64a7de , #4180b6); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#64a7de , #4180b6); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#64a7de , #4180b6); /* Standard syntax */
}
.grad1 {
    background: #eeeeee; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, red , yellow); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #eeeeee , #cccccc); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #eeeeee , #cccccc); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #eeeeee , #cccccc); /* Standard syntax */
}
body {
    background-color: #e8e6e8;
    /*     background           : url(/img/book_bg2.jpg); */
    margin               : 0;
    text-align           : center;
    width: 100%;
    font-family: "Comic Sans MS", Arial, sans-serif;
/*     font-family: "Lucida Grande", Verdana, Arial, sans-serif; */

}

.container {
    background-color     : #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 4px rgba(0, 0, 0, .5);
    padding: 8px;
    margin: 40px;

}
header {
    height: 170px;
    border-radius: 10px;
    margin: 10px;

}
.leftheader {
    float: left;
    margin-left: 1%;
    width: 89%;
    position: relative;
    top: 25%;
}
.rightheader {
    float: right;
    margin-right: 1%;
    width: 9%;
    position: relative;
    top: 70%;

}
.thinline {
    height: 10px;
    width: 100%;

}
.title {
    color                : white;
    display              : block;
    font-size            : 2em;
    text-align: left;
}


.mat {
    border-color         : white;
    border-style         : solid;
    border-width         : 5px;
    display              : inline-block;
    height               : auto;
    padding              : 0;
    width                : auto;
}

.matbutton {
    cursor               : pointer;
}

.photo {
    display              : block;
/*     height               : 140px; */
    width                : auto;
}
.photos {
    display              : inline-block;
    text-align           : center;

}

.polaroid-caption {
    background-color     : white;
    color                : #d0d0d0;
    display              : block;
    font-size            : small;
    height               : auto;
    margin-top           : 0;
    text-align           : center;
    width                : 100%;
}
.caption-bold {
    color : black;
}

.polaroid-frame {
    background-color     : white;
    border-color         : white;
    border-style         : solid;
    border-width         : 2px;
    box-shadow           : 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    box-sizing           : border-box;
    display              : inline-block;
    height               : auto;
    margin               : 20px;
    vertical-align       : top;
    width                : auto;
}
.polaroid-buffer {
    display: inline-block;
    font-size: 0;
}

.patty {
    width: 30px;
    height: 4px;
    background-color: #e0e0ff;
    margin: 6px 0;
}
a:-webkit-any-link {
    text-decoration      : none;
}

#breadcrumbs {
    display              : block;
    width                : 90%;
    text-decoration      : none;
    text-align: left;
    margin-top: 5px;
    color: white;

}
.breadcrumbs
{
    color                : white;
    display              : inline-block;
    font-size            : medium;
    text-decoration      : none;
    font-style           : italic;
}
.breadcrumbs a: active,
.breadcrumbs a: hover,
.breadcrumbs a: link,
.breadcrumbs a: visited,
{
    color                : white;
    display              : inline-block;
    font-size            : medium;
    text-decoration      : none;
}


.controls {
    display              : block;
    float: left;
    text-align           : left;
    position: relative;
    margin-top: 5px;
}
.dropdown {
    float: right;
    position: absolute;
    right: 5px;
    top: 60px;
    z-index: 1;
}

.dropdown-content {
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    position: relative;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.show {display:block;}
.hide {display:none;}

.resize-controls {
    display              : inline-block;
    width                : 20%;
}

.resize-header {
    display              : inline-block;
    vertical-align: top;
}

.resize-sizers {
    cursor               : pointer;
}

.resize-sizers: hover {
    outline: 2px;
}

.resize-enlarge {
    border-bottom  : 10px solid #555555;
    border-left    : 10px solid transparent;
    border-right   : 10px solid transparent;
    display        : inline-block;
    height         : 0;
    left           : 0;
    top            : 0px;
    vertical-align : top;
    width          : 0;
}

.resize-reduce {
    border-left    : 10px solid transparent;
    border-right   : 10px solid transparent;
    border-top     : 10px solid #555555;
    display        : inline-block;
    height         : 0;
    left           : 0px;
    position       : relative;
    top            : 0px;
    vertical-align : top;
    width          : 0;
}





button {
    /* zero out button */
    -moz-box-sizing    : border-box;
    -webkit-box-sizing : border-box;
    background         : none;
    border             : none;
    box-sizing         : border-box;
    display            : inline-block;
    line-height        : 1;
    margin             : 0;
    outline            : none;
    overflow           : visible;
    padding            : 0;
    vertical-align     : middle;
    white-space        : normal;
    width              : auto;
}



@media only screen and (max-width: 640px) {
    /* switch to block to force 1 per row, then we need shadow to be block too
    so it takes full width of album-frame. Also this makes the album borders all
    the same width. */

    .album-frame {
        display: block;
        margin: 10px;
    }
    .album-shadow {
        display: block;
    }
    .polaroid-frame {
        /* keep polaroid inline-block cause otherwise the white polaroid frame is too wide
        on narrow images */

        display              : inline-block;
        margin               : 10px;

    }
    .controls {
        display:  none;
    }
    .burger {
        display: none;
    }
    .container {
        padding: 2px;
        margin: 10px;

    }
    .title {
        font-size            : 1.5em;
    }
}

@media only screen and (max-width: 640px) and (orientation: landscape) {
    .photo {
        height: auto;
        max-height: 60vh;
    }
}

@media only screen and (max-width: 640px) and (orientation: portrait) {
    .photo {
        height: auto;
        max-width: 70vw;
    }
}
