
.grad0 {
    background: #64a7de; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#64a7de , #4180b6); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#64a7de , #4180b6); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#64a7de , #4180b6); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#64a7de , #4180b6); /* Standard syntax */
}

body {
    background-color: #e8e6e8;
}
