
.grad0 {
    background: #b0b0b0; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#b0b0b0 , #0a0a0a); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#b0b0b0 , #0a0a0a); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#b0b0b0 , #0a0a0a); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#b0b0b0 , #0a0a0a); /* Standard syntax */
}

body {
    background-color: #b0b0b0;
}
